<div class="flex gap-3 justify-content-start align-items-center my-2">
  <p class=" font-semibold text-lg text-color">Conversion de moneda</p>
  <span (click)="changeCurrency()" class="text-xl pi pi-sort-alt circle p-2 cursor-pointer"></span>
</div>
<div class="flex flex-column gap-5">
  <span class="p-input-icon-right p-fluid">
    <i *ngIf="bsToDollar; else DollarToBs" style="font-family: Arial, Helvetica, sans-serif; font-style: normal;"
      class="font-medium text-xl ">Bs</i>
    <input class="p-inputtext-lg" type="number" (ngModelChange)="onInputChange($event)" pInputText
      [(ngModel)]="conversionMoney.money_conversion" />
  </span>
  <ng-template #DollarToBs>
    <i class="pi pi-dollar"></i>
  </ng-template>
</div>

<div *ngIf="loading ; else load " class="flex justify-content-center mt-5 align-items-center gap-5 ">

  <p #bs (click)="copyContent()" class=" text-6xl text-color font-medium hover:text-primary cursor-pointer">
    {{conversionMoney.total | number:'1.2-2' | parsePrice }}
    <span class="text-primary">{{conversionMoney.currency}}</span>
  </p>

  <!-- <span class="pi pi-copy"></span> -->
</div>

<!-- BOTONES DE SUMAR Y RESTAR  -->
<div class="flex justify-content-between mb-8 mt-1 mx-3 align-items-center">
  <!-- RESTAR BOTON -->
  <i class="pi pi-minus touchx2 border-circle p-2 bg-primary" (click)="increasePrice(false)" style="font-size: 1.5rem"></i>
  <!-- PLUS BOTÓN  bg-6xl-->
  <i class="pi pi-plus touchx2 border-circle p-2 bg-primary" (click)="increasePrice(true)" style="font-size: 1.5rem"> </i>
</div>

<ng-template #load>
  <p-progressBar mode="indeterminate" [color]="'var(--primary-color)'" [style]="{ height: '5px'}">
  </p-progressBar>
</ng-template>