<div class="flex justify-content-between  align-items-center  my-2">
  <div>
    <img class="w-9" src="assets/dc-verde.png" alt="daily-coin">
  </div>
  <p class="font-semibold text-4xl text-color">Temas</p>
</div>

<div class="grid gap-5">
  <div class="col bg-white  border-round shadow-4">
    <div class="  border-round  bg-primary p-2  m-1">.</div>
  </div>

  <div class="col bg-white  border-round shadow-4">
    <div class="  border-round  bg-primary p-2  m-1">.</div>
  </div>

  <div class="col bg-white  border-round shadow-4">
    <div class="  border-round  bg-primary p-2  m-1">.</div>
  </div>
</div>