<!-- MESAJES -->
<div class="top-0 my-2 w-9 z-5 center-messages absolute">
  <p-messages></p-messages>
</div>

<app-header></app-header>
<!-- TERMINOS Y CONDICIONES -->
<p-dialog [(visible)]="contrato" [modal]="true"   [style]="{ width: '80vw' }"
  [draggable]="false" [resizable]="false" contentStyleClass="p-2 ">
  <ng-template class="p-1" pTemplate="header">
    <p class="text-primary font-semibold text-lg">Términos y condiciones</p>
  </ng-template>
  <p class="text-base p-1 text-center mb-5">Acepte los términos y Condiciones de uso de la aplicación</p>

  <div class="flex justify-content-end gap-2 align-items-center">
    <button pButton pRipple label="Leer" class="flex-none bg-primary p-2" (click)="moveContract()"></button>
    <button pButton pRipple label="Aceptar" class="flex-none bg-primary p-2" (click)=" guardarTerminos()"></button>
  </div>

</p-dialog>


<div class="p-3 ">
  <!-- ACTUALIZACIONES -->
  <div *ngIf="updates" class=" p-2 my-4 top-0 w-9 center-messages justify-content-between flex absolute  align-items-center z-5 
      border-round bg-primary-reverse shadow-3 ">
    <p class="text-base  font-semibold	 m-0 ">¡Nueva Actualización disponible!</p>
    <button pButton pRipple label="Actualizar" class="flex-none bg-primary p-2" (click)="activateUpdate()"></button>
  </div>

  <!-- APP -->
  <router-outlet></router-outlet>
</div>
<app-config-theme style="display: none;"></app-config-theme>

<app-topbar></app-topbar>