<div class="top-0 my-2 w-9 z-5 center-messages absolute">
  <p-messages></p-messages>
</div>
<div class="p-3">
  <div *ngIf="updates" class="  p-2 my-4 top-0 w-9 center-messages justify-content-between flex absolute  align-items-center z-5 
      border-round bg-primary-reverse shadow-3 ">
    <p class="text-base  font-semibold	 m-0 ">¡Nueva Actualización disponible!</p>
    <button pButton pRipple label="Actualizar" class="flex-none bg-primary p-2" (click)="activateUpdate()"></button>
  </div>
  <router-outlet></router-outlet>
</div>
<app-topbar></app-topbar>