<p-confirmPopup #confirmPopupRef  [ngStyle]="{'z-index': '1000'}">
  <ng-template pTemplate="Headless " let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
        <i [class]="message.icon ? message.icon : ''" class="text-6xl text-primary-500"></i>
        <p>{{ message.message }}</p>
    </div>
</ng-template>
</p-confirmPopup>

<div >
  <app-status-coin (finishLoadingCoin)="validateTutorial()" #status_coin (bankingEntity)="currentBankingEntity($event)"
    [typeStatus]="entidadBancaria"></app-status-coin>
  <div class="mt-6">
    <app-conversion-coin #conversion_coin [banco]="bancoActual"></app-conversion-coin>
  </div>

</div>
<app-tutorial [tutorial]="this.appConfigService.tutorial"></app-tutorial>  
