<div class="fixed bottom-0 w-full flex justify-content-center
   gap-5 bg-primary align-items-center">
  <!-- configuración -->
  <!-- config -->
  <div #config class="touch-menu " (click)="changeMenu(config)">
    <i style="font-size: 1.6rem;" routerLink="/config" class="pi pi-cog"></i>
  </div>

  <!-- home -->
  <div #home class="touch-menu touch-menu-hover" (click)="changeMenu(home)">
    <i style="font-size: 1.6rem;" routerLink="/home" class="pi pi-home"></i>
  </div>

  <!-- calculadora -->
  <div #calculadora class="touch-menu " (click)="changeMenu(calculadora)">
    <i style="font-size: 1.6rem;" class="pi pi-calculator"></i>
  </div>

  <!-- historial de tasas -->
  <div #history class="touch-menu " (click)="changeMenu(history)">
    <i style="font-size: 1.6rem;" routerLink="/history" class="pi pi-history"></i>
  </div>
</div>