<div class="fixed bottom-0 w-full flex justify-content-center
   gap-5 bg-primary align-items-center">
  <!-- configuración -->
  <div class="touch-menu">
    <i style="font-size: 1.6rem;" routerLink="/config" class=" pi pi-cog "></i>
  </div>
  <!-- <i (click)="pago_movil.emit()" class="pi pi-wallet" ></i> -->
  <!-- home -->
  <div class="touch-menu">
    <i style="font-size: 1.6rem;" routerLink="/home" class=" pi pi-home"></i>
  </div>
  <!-- calculadora -->
  <div class="touch-menu">
    <i style="font-size: 1.6rem;" class=" pi pi-calculator"></i>
  </div>
  <!-- historial de tasas -->
  <div class="touch-menu">
    <i style="font-size: 1.6rem;" routerLink="/history" class=" pi pi-history"></i>
  </div>
</div>