* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

.tutorial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo negro semi-transparente */
  z-index: 3;
   
}

.tutorial-content {
  position: relative;
  z-index: 6;
}

.background-dailyCoin {
  background-image: url('assets/d.png');
  background-color: rgba(255, 255, 255, 0.17);
  background-size: cover;
  background-position: 80% 70%;
  /* Movido hacia abajo */
  background-repeat: repeat;
}


input[type="text"],
[type="number"] {
  box-shadow: none !important;
  border-width: 2px;
}

.p-checkbox-box.p-highlight {
  box-shadow: none !important;
}

.circle:hover {
  border-radius: 50%;
  background-color: var(--primary-color-text);
  color: var(--primary-color);
  padding: 0.5rem;
}

a {
  color: inherit;
}

.touch {
  transition: transform 0.1s ease;
}

.touch:active {
  transform: scale(1.02);
}

.touchx2 {
  transition: transform 0.1s ease;
}

.touchx2:active {
  transform: scale(1.5);
}

/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
}

@import 'node_modules/primeng/resources/primeng.min.css';
@import 'node_modules/primeflex/primeflex.css';
//@import 'node_modules/primeng/resources/themes/daily-coin/theme.css';
//teema
@import "primeicons/primeicons.css";
//@import 'node_modules/primeng/resources/nano/theme.css';
//@import 'node_modules/primeng/resources/themes/lara-light-indigo/theme.css';
//@import 'node_modules/primeng/resources/themes/mira/theme.css';
//@import 'node_modules/primeng/resources/themes/vela-orange/theme.css';