* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

input[type="text"],[type="number"] {
  box-shadow: none !important;
  border-width: 2px;
}
.p-checkbox-box.p-highlight {
  box-shadow: none !important;
}
.circle:hover {
  border-radius: 50%;
  background-color: var(--primary-color-text);
  color: var(--primary-color);
  padding: 0.5rem;
}

@import 'node_modules/primeng/resources/primeng.min.css';
@import 'node_modules/primeflex/primeflex.css';
@import 'node_modules/primeng/resources/themes/daily-coin/theme.css';
//teema
//@import 'node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import "primeicons/primeicons.css";