<div class="flex justify-content-between  align-items-center  my-2">
  <div>
    <img class="w-9" src="assets/dc-verde.png" alt="daily-coin">
  </div>
  <p class="font-semibold text-3xl text-color">Información</p>
</div>

<div class="mt-5">
  <div class="flex flex-column gap-2">
    <p class="text-lg text-primary">Version : v1.5.3 </p>
    <p class="text-lg text-primary">Desarrollador:<a href="https://www.instagram.com/sarmientolois/?next=%2F"
        target="_blank" rel="noopener noreferrer">
        Louis Sarmiento
      </a>
    </p>
    <p class="text-lg text-primary">Organización:
      <a href="https://www.instagram.com/_coffee_code" target="_blank" rel="noopener noreferrer">
        Coffee Code
      </a>
    </p>
  </div>
</div>