<div class="flex justify-content-start my-2">
  <p class="font-semibold text-2xl text-color">Configuración</p>
</div>
<div class="grid gap-5 mt-4">
  <div [routerLink]="'bancos-config'" class=" cursor-pointer col bg-primary border-round  
  shadow-4 gap-3 p-3 flex flex-column  align-items-start">
    <span class="pi pi-building " style="font-size: 2rem"></span>
    <h2>Bancos favoritos</h2>
  </div>
  <div class=" cursor-pointer col bg-primary-reverse border-round gap-3 p-3  
    shadow-4 flex flex-column  align-items-start">
    <span class="pi pi-palette" style="font-size: 2rem"></span>
    <h2>Tema y preferencias</h2>
  </div>
  <div [routerLink]="'tasa-personalizada'" class="cursor-pointer col bg-primary border-round  
  shadow-4 gap-3 p-3 flex flex-column  align-items-start">
    <span class="pi pi-pencil" style="font-size: 2rem"></span>
    <h2>Tasa personalizada </h2>
  </div>
</div>