<div class="grid gap-4 my-5">

  <div [routerLink]="'bancos-config'" class=" touch cursor-pointer py-4 col bg-primary-reverse border-round  
    shadow-6 ">
    <div class="flex flex-column  gap-3  align-items-center">
      <span class="pi pi-building font-light" style="font-size: 3.5rem"></span>
      <p class="text-2xl  text-center">Bancos</p>
    </div>
  </div>

  <div [routerLink]="'info'" class=" touch cursor-pointer py-4 col bg-primary-reverse border-round  
  shadow-6 ">
    <div class="flex flex-column gap-3 align-items-center">
      <span class="pi pi-info-circle font-light" style="font-size: 3.5rem"></span>
      <p class="text-2xl  text-center">Información</p>
    </div>
  </div>

  <div [routerLink]="'theme'" class=" touch cursor-pointer py-4 col bg-primary-reverse border-round  
  shadow-6 ">
    <div class="flex flex-column gap-3 align-items-center">
      <span class="pi pi-palette font-light" style="font-size: 3.5rem"></span>
      <p class="text-2xl  text-center">Temas</p>
    </div>
  </div>

  <div [routerLink]="'tasa-personalizada'" class=" touch cursor-pointer py-4 col bg-primary-reverse border-round  
  shadow-6 ">
    <div class="flex flex-column gap-3 align-items-center">
      <span class="pi pi-pencil font-light" style="font-size: 3.5rem"></span>
      <p class="text-2xl  text-center">Tasa personal</p>
    </div>
  </div>



</div>